In [44]:
# Importing libraries
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

In [45]:
# from sklearn.model_selection import train_test_split

# from keras.preprocessing.text import Tokenizer
# from keras.models import Sequential
# from keras.layers import Dense,Dropout,Embedding,LSTM,Conv2D,Flatten,MaxPooling2D
# from keras.preprocessing.sequence import pad_sequences
# from keras.utils import to_categorical

Using TensorFlow backend.

In [91]:
# reading Dataset and droping features

# data = pd.read_csv("train_file.csv")
# data = data.drop(columns=['SentimentTitle','SentimentHeadline'],axis=1)
# data = data.drop(columns=['IDLink', 'Title', 'Source', 'Topic', 'PublishDate','Facebook', 'GooglePlus', 'LinkedIn'],axis=1)
import numpy as np
import pandas as pd

data = pd.read_csv("output.csv")
data.head()
def swap(a,b):
    temp = pd.DataFrame()
    temp = a
    a = b
    b = temp
    return (a,b)
data.shape
# data.head()

(37288, 3)

In [94]:
p1 = pd.DataFrame()
p4 = pd.DataFrame()
p3 = pd.DataFrame()
p2 = pd.DataFrame()

p1 = data['SentimentTitle']
p2 = data['SentimentHeadline']
#p1 = p1.values.tolist()
#p4 = p4.values.tolist()
#replace = dict(zip(set(p1),set(p4)))
#data.replace(list(range(5288)), p4)
#df.replace([0, 1, 2, 3], [4, 3, 2, 1])
#df.replace({'a' : { 'Medium' : 2, 'Small' : 1, 'High' : 3 }})
#data.replace({'SentimentTitle': replace})

data['SentimentTitle'][1000:15000], data['SentimentHeadline'][1000:15000]= p2[1000:15000], p1[1000:15000]
data['SentimentHeadline'][25000:], data['SentimentTitle'][25000:] = p1[25000:], p2[25000:]
data.head()
# data.iloc[:5288,1] = p4
# data.iloc[32000:,2] = p3
# data.iloc[32000:,1] = p2
# data.iloc[:5288,2] = p1

# p4.replace = p2
# p3.replace = p4
# data.head()


# (data.iloc[32000:,1],data.iloc[:5288,2]) = (data.iloc[:5288,2], data.iloc[32000:,1])
# (data.iloc[:5288,1],data.iloc[32000:,2]) = (data.iloc[32000:,2], data.iloc[:5288,1])
# data.iloc[:5288,1] = data.iloc[32000:,2]

data.to_csv("output4.csv", index=False )

/usr/lib/python3/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/lib/python3/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
data = pd.read_csv("output1.csv")

In [33]:
data.head()

,IDLink,Title,Headline,Source,Topic,PublishDate,Facebook,GooglePlus,LinkedIn,SentimentTitle,SentimentHeadline
0,Tr3CMgRv1N,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,-1,-1,-1,0.000000,-0.053300
1,Wc81vGp8qZ,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,-1,-1,-1,0.208333,-0.156386
2,zNGH03CrZH,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-1,-1,-1,-0.425210,0.139754
3,3sM1H0W8ts,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,-1,-1,-1,0.000000,0.026064
4,wUbnxgvqaZ,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,-1,-1,-1,0.000000,0.141084

In [34]:
x_train = data
y_train = data(columns=[['SentimentTitle','SentimentHeadline']])

In [35]:
# Preprocessing the dataset
tokenizer = Tokenizer(num_words=15000)
tokenizer.fit_on_texts(list(x_train))

X_train = tokenizer.texts_to_sequences(x_train)
X_train = pad_sequences(X_train, maxlen=150)
X_train

array([[   0,    0,    0, ...,    1,    2, 2543],
       [   0,    0,    0, ...,    3,    1,   10],
       [   0,    0,    0, ...,    1,  485, 1047],
       ...,
       [   0,    0,    0, ...,    2,   37,  442],
       [   0,    0,    0, ...,   68, 1716,  436],
       [   0,    0,    0, ..., 1723,  152,    6]], dtype=int32)

In [36]:
y_train=np.array(y_train).reshape((55932,1))

In [37]:
train_x, val_x, train_y, val_y = train_test_split(X_train, y_train, test_size=0.2)

In [38]:
# Creating a LSTM model
model=Sequential()
model.add(Embedding(15000,512,mask_zero=True))
model.add(LSTM(512,dropout=0.1, recurrent_dropout=0.1,return_sequences=True))
model.add(LSTM(256,dropout=0.1, recurrent_dropout=0.1,return_sequences=False))
model.add(Dense(1,activation='softmax'))
model.compile(loss='mean_squared_error',optimizer='Adam',metrics=['mean_squared_error'])
# model.compile(loss='binary_crossentropy',optimizer='rmsprop',metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 512)         7680000
_________________________________________________________________
lstm_1 (LSTM)                (None, None, 512)         2099200
_________________________________________________________________
lstm_2 (LSTM)                (None, 256)               787456
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 257
=================================================================
Total params: 10,566,913
Trainable params: 10,566,913
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Fitting the dataset into the model
model.fit(train_x[:2000], train_y[:2000], validation_data=(val_x, val_y), epochs=4, batch_size=128, verbose=1)

/opt/conda/lib/python3.6/site-packages/tensorflow_core/python/framework/indexed_slices.py:433: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 2000 samples, validate on 11187 samples
Epoch 1/4
2000/2000 [==============================] - 19s 10ms/step - loss: 1.0940 - mean_squared_error: 1.0940 - val_loss: 1.0846 - val_mean_squared_error: 1.0846
Epoch 2/4
2000/2000 [==============================] - 17s 9ms/step - loss: 1.0940 - mean_squared_error: 1.0940 - val_loss: 1.0846 - val_mean_squared_error: 1.0846
Epoch 3/4
2000/2000 [==============================] - 18s 9ms/step - loss: 1.0940 - mean_squared_error: 1.0940 - val_loss: 1.0846 - val_mean_squared_error: 1.0846
Epoch 4/4
2000/2000 [==============================] - 17s 8ms/step - loss: 1.0940 - mean_squared_error: 1.0940 - val_loss: 1.0846 - val_mean_squared_error: 1.0846

In [0]:
test = pd.read_csv("test_file.csv")
# test = data.drop(columns=['IDLink', 'Title', 'Source', 'Topic', 'PublishDate','Facebook', 'GooglePlus', 'LinkedIn'],axis=1)

In [ ]:
test = tokenizer.texts_to_sequences(test['Headline'])
x_test = pad_sequences(test, maxlen=150)

In [0]:
y = model.predict(x_test)
y = np.argmax(y, axis=1)

In [0]:
# Download predictive value
sub = pd.DataFrame()
sub['SentimentHeadline'] = y
sub.to_csv('output.csv', index=False)